.screen
{
  width:100%;
  height:20px;
  background:grey;
  color:#fff;
  line-height:20px;
}
.tabs {
  margin:3%;
  padding: 0;
  list-style: none;
  display:inline; /* [1] */
  table-layout: fixed; /* [2] */
  width: 100%; /* [3] */
}

.tabs__item {
  display: table-cell; /* [4] */
}

.tabs__link {
      display:inline-block; /* [5] */
  }

.primary-nav {
    text-align: center;
    border-radius: 4px;
    font-family: Verdana, sans-serif;
    font-size: medium;
    text-decoration: none;
    font-weight:lighter;
    overflow: hidden; /* [1] */
    color: black;
}

.primary-nav a {
  border: 3px solid #4e5b60;
  background-color: #f9bc50;
  text-decoration: none;
  display: inline-block;
  font-size:medium;
  padding:1em;
  color: black;
}

.primary-nav a:visited{
  text-decoration: none;
  color: black;
}
.primary-nav a:hover {
  background:#eb8e25;
  }

.tab_background{
  border: 3px solid #4e5b60;
  background-color: #f9bc50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:medium;
  margin:auto;
  padding:10px;
  cursor: pointer;
}

.buttons_background{
  background-color: #4e5b60;
  text-align: center;
  text-decoration: none;
  font-size:medium;
  margin:auto;
  padding:10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  display: inline-block;
  color:#ffffff;
}

.buttons_remove{
  background-color: rgba(114, 54, 54, 0.87);
  text-align: center;
  text-decoration: none;
  font-size:medium;
  margin:auto;
  padding:10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  display: inline-block;
  color:#ffffff;
}

.buttons_next{
  background-color: #4e5b60;
  text-align: center;
  text-decoration: none;
  font-size:medium;
  margin:auto;
  padding:10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  display: inline-block;
  color:#ffffff;
}

.buttons_prev{
  background-color: #4e5b60;
  text-align: center;
  text-decoration: none;
  font-size:medium;
  margin:auto;
  padding:10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  display: inline-block;
  color:#ffffff;
}

.buttons_next:hover{
  background: #4CAF50;
}

.buttons_prev:hover{
  background: #3D5AFE;
}

.buttons_remove:hover{
  background: #4e5b60;
}
.background {
  background: url("../../static/loginback.jpg");
  background-repeat: no-repeat;
  width: 130rem;
  height: 100rem;
  margin-top: auto;
  margin-right: auto;
  position:fixed;
  opacity: 0.3;
}
.tab_background:hover{
  background:#eb8e25;
}

.text{
  font-family: Verdana, sans-serif;
}
.text_description{
    font-family: Verdana, sans-serif;
    font-weight:lighter;
    left:35rem; 
    color:black; 
    font-size:larger;
}
.header_text{
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size:large;

}

.search_bar[type=text]{
  border: 3px solid #f9bc50;
  font-size: 15px;
  width:300px;
  height:40px;
}

.search_icon:hover {
  background:#f9bc50;
}


.buttons_background:hover {
  background:#f9bc50;
}

.big-box{
  background-color: #4e5b60;
  opacity: 0.3;
  vertical-align:middle;
}

.register_details {
  width: 100%;
  padding: 20px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 5px solid #f9bc50;
  background: white;
  border-radius:12px;
}

.signup_button{
  width: 100%;
  padding: 20px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 5px solid white;
  background:#f9bc50;
  border-radius:12px;
}
.login_button{
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 5px solid white;
    background:#f9bc50;
    border-radius:12px;
  }
.register_details:focus{
  background-color: #ddd;
  outline: none;
}

.signup_button:hover{
  background:#4e5b60;
}

.login_button:hover{
    background:#4e5b60;
  }
.container-start {
  padding: 16px;
}

.modal-content{
  background-color: #f5f0f0ec;
  border-radius:10px;
  border: 1px solid #888;
  width: 35%; 
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content-register {
  background-color: #f5f0f0ec;
  border-radius:10px;
  border: 1px solid #888;
  width: 35%; 
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-content-payment{
  background-color: #f5f0f0ec;
  border-radius:10px;
  border: 1px solid #888;
  width:max-content; 
  position: absolute;
  top:36rem;
  left:33%;
  transform: translate(-50%, -50%);
}
.modal-content-card{
  background-color: #f5f0f0ec;
  border-radius:10px;
  border: 1px solid #888;
  width:max-content; 
  height:max-content;
  position: absolute;
  top: 22rem;
  right:10%;
  transform: translate(-50%, -50%);
}
.container_movies {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    top: 15rem;
}

.button {
    margin-left: 0 3%;
    width: 2rem;
    cursor: pointer;
}

.button--inactive {
    opacity: 0.2;
}

.button img {
    width: 60%;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.box {
    width: 15rem;
    height: 23rem;
    box-shadow: 0px 0px 2rem 0px #888888;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position:relative;
}

.movie_page{
    width: 27rem;
    margin-top: auto;
    height: 40rem;
    box-shadow: 0px 0px 2rem 0px #888888;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position:relative;

}

.image_box {
    width: 15rem;
    height: 23rem;
    box-shadow: 0px 0px 2rem 0px #888888;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position:relative;
}

.new_movies{
    width: 18rem;
    height: 28rem;
    box-shadow: 0px 0px 2rem 0px #888888;
    display:block;
    background-color: white;
    justify-content: center;
    align-items: center;
    position:absolute;
}

.search_movies{
  width: 4rem;
  height: 6rem;
  box-shadow: 0px 0px 2rem 0px #888888;
  display:block;
  background-color: white;
  justify-content: center;
  align-items: center;
  position:absolute;
}

.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 10px;
}
.column::after {
	content: '';
	clear: both;
	display:flex;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
  
}
.column div:first-child {
	margin-left: 25px;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

figure {
  width: 15rem;
  height: 23rem;
  position:relative;
  margin: 0;
	padding: 0;
	overflow: hidden;
  box-shadow: 0px 0px 2rem 0px #888888;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

table, th, td {
  border: 3px solid #4e5b60;
  box-shadow: #444;

}

table {
  width: 100%;
}
.position_table{
  width: 60%; 
  margin-left: auto;
  position: absolute;
  top: 47%;
  left: 560px;
  height: fit-content;
}

.main_buttons{
  position:absolute;
  top:80%;
  left:700px;
  width:170px;
  height:60px;
}

body {
  color: #333;
  font: 16px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.list-numbered {
  list-style: none;
  margin-left: 1em;
  counter-reset: line;
}

.list-numbered > li {
  position: relative;
  margin-bottom: 1.5em;
}

.list-numbered > li:before {
	position: absolute;
	left: -2.25em;
	display: inline-block;
  width: 22px;
	height: 22px;
	margin-right: 0.5em;
  background-color: #B53C2C;
	border-radius: 50%;
	color: #fff;
	text-align:center;
  font-size: larger;
  line-height: 1.25em;
	counter-increment: line;
	content: counter(line);
}

.button-container {
  width: 520px;
  background: gray;
  overflow-y: auto;
}

.button-container > a {
  width: 100px;
  height: 100px;
  float: left;
  background: lightgray;   
  margin: 15px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

label {
  cursor: pointer;
  filter: grayscale(100%);
}

label:hover {
  filter: grayscale(0);
}
input[type="radio"]:checked + label {
  filter: grayscale(0);
}

.sr-only{
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  border:0
}
.sr-only-focusable:active

.sr-only-focusable:focus{
  position:static;
  width:auto;
  height:auto;
  margin:0;
  overflow:visible;
  clip:auto
}


::placeholder {
  color: #fff;
  opacity: 1
}

:-ms-input-placeholder {
  color: #fff
}

::-ms-input-placeholder {
  color: #fff
}

thead tr:nth-child(3) th {
  color: #fff !important;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px
}


.fa-calendar {
  color: #fff;
  font-size: 30px;
  padding-top: 8px;
  padding-left: 5px;
  cursor: pointer
}


::placeholder { 
  color:black;
  opacity: 1; 
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#grad1 {
  height: 200px;
  background-color:whitesmoke;
  background-image: linear-gradient(to right, whitesmoke, #f9bc50, #767c7ec0 );
}


footer {
  position: relative;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
}
