<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"/>
</head>
<body style="background-color: rgb(255, 255, 255);">
<img src="{{url_for('static',filename='logo.png')}}" style="width:320px;height:300px;" >
<img src="{{url_for('static',filename='headerbanner.png')}}" style="position:absolute;top:10px;left:340px;width:980px;height:105px;" >
<div class="text">
    <button class="tab_background" style="position:absolute;top:125px;left:340px;width:150px;height:40px;">WHAT'S NEW </button>
    <button class="tab_background" style="position:absolute;top:125px;left:510px;width:150px;height:40px;">TICKETS</button>
    <button class="tab_background" style="position:absolute;top:125px;left:680px;width:150px;height:40px;">SCREENS</button>
    <button class="tab_background" style="position:absolute;top:125px;left:850px;width:150px;height:40px;">INFO</button>
</div>
<div class="search_bar">
    <form action="{{ url_for('mainpage') }}" method="post" >
        <input name = "query" id="query" type="text" placeholder="Search here.." style="position:absolute;top:125px;left:1020px;width:300px;height:40px;">
        <button type="submit" class="search_icon" style="position:absolute;top:125px;left:1100px;width:50px;height:40px;"> </button>
    </form>
</div> 
<div>
    <input type="image" src="{{url_for('static',filename='usericon.png')}}"style="position:absolute;top:125px;left:1340px;width:40px;height:40px;" />
    <button class="text_button"style="position:absolute;top:125px;left:1400px;width:60px;height:40px;">LOG IN</button>
    <button class="text_button"style="position:absolute;top:125px;left:1470px;width:60px;height:40px;">SIGN UP</button>
</div>
</body>
</html>

