<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"/>
    </head>
    <body class="register">
        <img src="{{url_for('static',filename='finlogo.png')}}"  style=" display: block; margin-left: auto; margin-right: auto; width: 300px; height: 190px;">
        <form action="/" method="post">
    			<input type="text" name="email" id="email" placeholder="E-mail address" style="width: 300; height: 20; color:black;" required/>
    			<br>
    			<input type="password" name="password" id="password" placeholder="Password" style="width: 300;  height: 20; color:black;" required/>
    			<br>
    			<input type="submit"  value="LOG IN" style="width: 150; color: black; background-color:	paleturquoise;  position: relative; " />
  			</form>
             <!-- <div  class="big-box" style= "position:fixed; width: 600px; top:250px; height:350px;" ></div>-->
</body>
</html>