<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"/>
    </head>
    <body>
        <img src="{{url_for('static',filename='finlogo.png')}}" style="display: block; margin-left: auto; margin-right: auto; width: 32rem; height: 22rem;">
        <div class=".button-container">
        <div class="text">
            <button class="tab_background" style="position:absolute;top:50%;left:340px;width:150px;height:40px;">BOOK TICKETS</button>
            <button class="tab_background" style="position:absolute;top:50%;left:510px;width:150px;height:40px;">VIEW MOVIES</button>
            <button class="tab_background" style="position:absolute;top:50%;left:680px;width:150px;height:40px;">REGISTER CUSTOMER</button>
            <button class="tab_background" style="position:absolute;top:50%;left:850px;width:150px;height:40px;">HELP</button>
            <button class="tab_background" style="position:absolute;top:50%;left:850px;width:150px;height:40px;">LOG OUT</button>
        </div>
             <!-- <div  class="big-box" style= "position:fixed; width: 600px; top:250px; height:350px;" ></div>-->
            </div>
</body>
</html>