<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
</head>

<body>
    <img src="{{url_for('static',filename='finlogo.png')}}" style="top:1px;width:300px;height:190px;">
    <img src="{{url_for('static',filename='headerbanner.png')}}" style="position:absolute;top:10px;left:340px;width:980px;height:105px;">
    <img src="{{url_for('static',filename='follow.png')}}" style="position: absolute; top: 10px; left: 1380px; width:100px;height:105px;">
    <div class="text">
        <!--Tabs for customer-->
        <button class="tab_background" style="position:absolute;top:125px;left:340px;width:150px;height:40px;">WHAT'S NEW </button>
        <button class="tab_background" style="position:absolute;top:125px;left:510px;width:150px;height:40px;">TICKETS</button>
        <button class="tab_background" style="position:absolute;top:125px;left:680px;width:150px;height:40px;">SCREENS</button>
        <button class="tab_background" style="position:absolute;top:125px;left:850px;width:150px;height:40px;">INFO</button>
    </div>
    <form action="{{ url_for('mainpage') }}" method="post">
        <!--Search bar...-->
        <input class="search_bar" name="query" id="query" type="text" placeholder="Search here.." style="position:absolute;top:125px;left:1020px"/>
        <!--fix sizing in search bar-->
        <input class="search_icon" type="image" src="{{url_for('static',filename='search.png')}}" style="position:absolute;top:125px;left:1270px;width:50px;height:40px;"/>
    </form>
    <div>
        <input id="account" type="image" src="{{url_for('static',filename='usericon.png')}}" style="position:absolute;top:125px;left:1340px;width:40px;height:40px;" />
        <script type="text/javascript">
        document.getElementById("account").onclick = function () {
            location.href = "{{ url_for('account') }}";
        };
        </script>
        <button type="submit" id="login" class="text_button"
        style="position:absolute;top:125px;left:1390px;width:60px;height:40px;">LOG IN</button>
        <script type="text/javascript">
        document.getElementById("login").onclick = function () {
            location.href = "{{ url_for('login') }}";
        };
        </script>
        <button id="register" type="submit" class="text_button"style="position:absolute;top:125px;left:1460px;width:60px;height:40px;">SIGN UP</button>
        <script type="text/javascript">
        document.getElementById("register").onclick = function () {
            location.href = "{{ url_for('register') }}";
        };
        </script>
        <input type="image" src="{{url_for('static',filename='usericon.png')}}"
            style="position:absolute;top:125px;left:1340px;width:40px;height:40px;" />
        <!--Login and signup button-->
        <button class="text_button" style="position:absolute;top:125px;left:1390px;width:60px;height:40px;">LOG
            IN</button>
        <button class="text_button" style="position:absolute;top:125px;left:1460px;width:60px;height:40px;">SIGN
            UP</button>
            <button class="text_button" style="position:absolute;top:125px;left:1530px;width:60px;height:40px;">LOG OUT</button>
        <!-- HEADER ENDS-->
    <div class="header_text">
        <h1 style="position:absolute; left:5rem; color: #4e5b60;">CAPTAIN AMERICA: THE WINTER SOLDIER</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 class="text" style="position:absolute;left:35rem; color:#4e5b60">Movie Description</h2>
        <br>
        <br>
        <h2 class="text_description" style="position:absolute;"> As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger 
            <br>
            and S.H.I.E.L.D agent, Black Widow, to battle a new threat from history: an assassin known as the Winter Soldier.</h2>
        <img class="movie_page" src="{{url_for('static',filename='poster3.jpg')}}" style="left:5rem;"/>
        <table class="rwd-table">
            <tr>
              <th>Director/s: </th>
              <td data-th="Director/s">Anthony Russo, Joe Russo</td>
            </tr>
            <tr>
                <th>Writer/s: </th>
                <th>Christopher Markus, Stephen McFeely</th>
            </tr>
            <tr>
              <th>Actors: </th>
              <td data-th="Actors">Chris Evans, Samuel L. Jackson, Scarlett Johansson, Robert Redford, Sebastian Stan, Anthony Mackie</td>
            </tr>
            <tr>
             <th>Runtime: </th>
             <th>136 min</th>
            </tr>
            <tr>
                <th>Release date: </th>
                <th>4 April 2014 (USA)</th>
            </tr>
            <th>Genre: </th>
            <th> Action, Adventure, Sci-Fi </th>
        </tr>
        <tr>
            <th>Certificate: </th>
            <th>PG-13</th>
        </tr>
          </table>
        
    </body>
    </html>
